.footer
    .footer-inner-wrapper
        .logo
            img(src="./assets/logo.png")
        .contact
            .phone
                p +886 935 829 620 (塗小姐)
            .mail
                p santana30541@gmail.com
            .location
                p TAIPEI, TAIWAN
        .copy-right
            p 2023 MY SCHEDULE @ ALL RIGHT RESERVED 
